:root {
  color: #ecf0f1;
  font-family: 'Lucida Sans', sans-serif;
  letter-spacing: 1.5px;
}

* {
  box-sizing: border-box;
}

.project-wrapper {
  box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
  background-color:rgba(142, 68, 173, .9); 
  border-radius: 30px;
  padding: 10px 30px;
  margin: 20px;
  cursor: pointer;
  text-decoration: unset;
  color: inherit;
  transition: transform .3s; /* Animation */
}

.project-wrapper:hover {
  background-color: rgba(155, 89, 182,.9);
  transform: scale(1.1);
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 500px) {
  #profile {
    margin: 0 auto;
    width: 100%;
    padding: 10%;
  }

  .project-wrapper {
    width: 100%;
    margin: 20px auto;
  }

  #projects {
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
    justify-content: flex-end;
  }
  img {
    width: 12%;
  }
}


.project-name {

}

.project-desc {
  font-size: 80%;
  color: rgba(189, 195, 199,1.0);
}



.project-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.project-header > .project-name {
  flex: 80%;
  /* margin-right: 5px; */
}

.project-icons {
  flex: 20%;
}